UIView {
  alpha: xxxx;
  background-color:  red;
  border-color: ;
  border-width: 3px;
  center-x:  ;
  center-y:  ;
  clips:  ;
  content-mode:  ;
  corner-radius:  ;
  enabled:  ;
  height:  ;
  hidden:  ;
  opaque:  ;
  shadow-color:  ;
  shadow-offset:  ;
  shadow-opacity:  ;
  shadow-radius:  ;
  tint-color:  ;
  width:  ;
  x:  ;
  y:  ;
}

UILabel {
  align:  ;
  alpha:  ;
  background-color:  ;
  border-color:  ;
  border-width:  ;
  center-x:  ;
  center-y:  ;
  clips:  ;
  content-mode:  ;
  corner-radius:  ;
  enabled:  ;
  font:  ;
  height:  ;
  hidden:  ;
  opaque:  ;
  shadow-color:  ;
  shadow-offset:  ;
  shadow-opacity:  ;
  shadow-radius:  ;
  text:  ;
  text-auto-fit:  ;
  text-color:  ;
  text-color-highlighted:  ;
  tint-color:  ;
  width:  ;
  x:  ;
  y:  ;
}

UIButton {
  alpha:  ;
  background-color:  ;
  background-color-disabled:  ;
  background-color-highlighted:  ;
  background-color-selected:  ;
  background-color-selected-disabled:  ;
  background-color-selected-highlighted:  ;
  background-color-top:  ;
  background-image:  ;
  background-image-disabled:  ;
  background-image-highlighted:  ;
  background-image-selected:  ;
  background-image-selected-disabled:  ;
  background-image-selected-highlighted:  ;
  border-color:  ;
  border-width:  ;
  center-x:  ;
  center-y:  ;
  clips:  ;
  content-insets:  ;
  content-mode:  ;
  corner-radius:  ;
  enabled:  ;
  font:  ;
  height:  ;
  hidden:  ;
  image:  ;
  image-disabled:  ;
  image-highlighted:  ;
  image-selected:  ;
  image-selected-disabled:  ;
  image-selected-highlighted:  ;
  opaque:  ;
  shadow-color:  ;
  shadow-offset:  ;
  shadow-opacity:  ;
  shadow-radius:  ;
  show-highlighted:  ;
  text:  ;
  text-align:  ;
  text-color:  ;
  text-color-disabled:  ;
  text-color-highlighted:  ;
  text-color-selected:  ;
  text-color-selected-disabled:  ;
  text-color-selected-highlighted:  ;
  text-shadow-color:  ;
  text-shadow-color-disabled:  ;
  text-shadow-color-highlighted:  ;
  text-shadow-color-selected:  ;
  text-shadow-color-selected-disabled:  ;
  text-shadow-color-selected-highlighted:  ;
  tint-color:  ;
  title-insets:  ;
  width:  ;
  x:  ;
  y:  ;
}

UISearchBar {
  alpha:  ;
  background-color:  ;
  background-image:  ;
  bar-background-color:  ;
  bar-background-color-top:  ;
  bar-tint-color:  ;
  border-color:  ;
  border-width:  ;
  center-x:  ;
  center-y:  ;
  clips:  ;
  content-mode:  ;
  corner-radius:  ;
  enabled:  ;
  font:  ;
  font-color:  ;
  height:  ;
  hidden:  ;
  opaque:  ;
  placeholder:  ;
  prompt:  ;
  scope-background-color:  ;
  scope-background-image:  ;
  shadow-color:  ;
  shadow-offset:  ;
  shadow-opacity:  ;
  shadow-radius:  ;
  text:  ;
  text-shadow-color:  ;
  text-shadow-offset:  ;
  tint-color:  ;
  width:  ;
  x:  ;
  y:  ;
}

UINavigationBar {
  alpha:  ;
  background-color:  ;
  background-image:  ;
  bar-background-color:  ;
  bar-background-color-top:  ;
  bar-tint-color:  ;
  border-color:  ;
  border-width:  ;
  center-x:  ;
  center-y:  ;
  clips:  ;
  content-mode:  ;
  corner-radius:  ;
  enabled:  ;
  font:  ;
  font-color:  ;
  height:  ;
  hidden:  ;
  opaque:  ;
  shadow-color:  ;
  shadow-image:  ;
  shadow-offset:  ;
  shadow-opacity:  ;
  shadow-radius:  ;
  text-shadow-color:  ;
  text-shadow-offset:  ;
  tint-color:  ;
  title-vertical-offset:  ;
  width:  ;
  x:  ;
  y:  ;
}

UIToolbar {
  alpha:  ;
  background-color:  ;
  background-image:  ;
  background-image-bottom:  ;
  background-image-bottom-landscape:  ;
  background-image-top:  ;
  background-image-top-landscape:  ;
  bar-tint-color:  ;
  border-color:  ;
  border-width:  ;
  center-x:  ;
  center-y:  ;
  clips:  ;
  content-mode:  ;
  corner-radius:  ;
  enabled:  ;
  height:  ;
  hidden:  ;
  opaque:  ;
  shadow-color:  ;
  shadow-image:  ;
  shadow-image-bottom:  ;
  shadow-image-top:  ;
  shadow-offset:  ;
  shadow-opacity:  ;
  shadow-radius:  ;
  tint-color:  ;
  width:  ;
  x:  ;
  y:  ;
}

UIProgressView {
  alpha:  ;
  background-color:  ;
  border-color:  ;
  border-width:  ;
  center-x:  ;
  center-y:  ;
  clips:  ;
  content-mode:  ;
  corner-radius:  ;
  enabled:  ;
  height:  ;
  hidden:  ;
  opaque:  ;
  progress:  ;
  progress-image:  ;
  progress-tint-color:  ;
  shadow-color:  ;
  shadow-offset:  ;
  shadow-opacity:  ;
  shadow-radius:  ;
  tint-color:  ;
  track-image:  ;
  track-tint-color:  ;
  width:  ;
  x:  ;
  y:  ;
}

UISegmentedControl {
  alpha:  ;
  background-color:  ;
  background-image:  ;
  background-image-selected:  ;
  border-color:  ;
  border-width:  ;
  center-x:  ;
  center-y:  ;
  clips:  ;
  content-mode:  ;
  corner-radius:  ;
  divider-image:  ;
  divider-image-selected:  ;
  enabled:  ;
  font:  ;
  font-color:  ;
  font-color-selected:  ;
  height:  ;
  hidden:  ;
  opaque:  ;
  shadow-color:  ;
  shadow-offset:  ;
  shadow-opacity:  ;
  shadow-radius:  ;
  text-shadow-color:  ;
  text-shadow-color-selected:  ;
  text-shadow-offset:  ;
  text-shadow-offset-selected:  ;
  tint-color:  ;
  width:  ;
  x:  ;
  y:  ;
}

UISlider {
  alpha:  ;
  background-color:  ;
  border-color:  ;
  border-width:  ;
  center-x:  ;
  center-y:  ;
  clips:  ;
  content-mode:  ;
  corner-radius:  ;
  enabled:  ;
  height:  ;
  hidden:  ;
  maximum-track-image:  ;
  maximum-track-image-disabled:  ;
  maximum-track-image-highlighted:  ;
  maximum-track-image-selected:  ;
  maximum-track-tint-color:  ;
  maximum-value:  ;
  maximum-value-image:  ;
  minimum-track-image:  ;
  minimum-track-image-disabled:  ;
  minimum-track-image-highlighted:  ;
  minimum-track-image-selected:  ;
  minimum-track-tint-color:  ;
  minimum-value:  ;
  minimum-value-image:  ;
  opaque:  ;
  shadow-color:  ;
  shadow-offset:  ;
  shadow-opacity:  ;
  shadow-radius:  ;
  thumb-image:  ;
  thumb-image-disabled:  ;
  thumb-image-highlighted:  ;
  thumb-image-selected:  ;
  thumb-tint-color:  ;
  tint-color:  ;
  value:  ;
  width:  ;
  x:  ;
  y:  ;
}

UISwitch {
  alpha:  ;
  background-color:  ;
  border-color:  ;
  border-width:  ;
  center-x:  ;
  center-y:  ;
  clips:  ;
  content-mode:  ;
  corner-radius:  ;
  enabled:  ;
  height:  ;
  hidden:  ;
  off-image:  ;
  on-image:  ;
  on-tint-color:  ;
  opaque:  ;
  shadow-color:  ;
  shadow-offset:  ;
  shadow-opacity:  ;
  shadow-radius:  ;
  thumb-tint-color:  ;
  tint-color:  ;
  width:  ;
  x:  ;
  y:  ;
}

UITableView {
  alpha:  ;
  background-color:  ;
  background-color-top:  ;
  border-color:  ;
  border-width:  ;
  center-x:  ;
  center-y:  ;
  clips:  ;
  content-mode:  ;
  corner-radius:  ;
  enabled:  ;
  height:  ;
  hidden:  ;
  indicator-style:  ;
  opaque:  ;
  row-height:  ;
  section-index-background-color:  ;
  section-index-color:  ;
  section-index-track-background-color:  ;
  separator-color:  ;
  separator-style:  ;
  shadow-color:  ;
  shadow-offset:  ;
  shadow-opacity:  ;
  shadow-radius:  ;
  tint-color:  ;
  width:  ;
  x:  ;
  y:  ;
}

UITextField {
  alpha:  ;
  background-color:  ;
  border-color:  ;
  border-style:  ;
  border-width:  ;
  center-x:  ;
  center-y:  ;
  clips:  ;
  content-mode:  ;
  corner-radius:  ;
  enabled:  ;
  font:  ;
  height:  ;
  hidden:  ;
  horizontal-align:  ;
  minimum-font-size:  ;
  opaque:  ;
  placeholder:  ;
  shadow-color:  ;
  shadow-offset:  ;
  shadow-opacity:  ;
  shadow-radius:  ;
  text-color:  ;
  tint-color:  ;
  vertical-align:  ;
  width:  ;
  x:  ;
  y:  ;
}

UITabBar {
  alpha:  ;
  background-color:  ;
  background-color-top:  ;
  background-image:  ;
  bar-tint-color:  ;
  border-color:  ;
  border-width:  ;
  center-x:  ;
  center-y:  ;
  clips:  ;
  content-mode:  ;
  corner-radius:  ;
  enabled:  ;
  height:  ;
  hidden:  ;
  opaque:  ;
  selected-image:  ;
  shadow-color:  ;
  shadow-image:  ;
  shadow-offset:  ;
  shadow-opacity:  ;
  shadow-radius:  ;
  tint-color:  ;
  width:  ;
  x:  ;
  y:  ;
}

UIActivityIndicatorView {
  alpha:  ;
  auto-stop:  ;
  background-color:  ;
  border-color:  ;
  border-width:  ;
  center-x:  ;
  center-y:  ;
  clips:  ;
  color:  ;
  content-mode:  ;
  corner-radius:  ;
  enabled:  ;
  height:  ;
  hidden:  ;
  indicator:  ;
  opaque:  ;
  shadow-color:  ;
  shadow-offset:  ;
  shadow-opacity:  ;
  shadow-radius:  ;
  tint-color:  ;
  width:  ;
  x:  ;
  y:  ;
}

UIPageControl {
  alpha:  ;
  background-color:  ;
  border-color:  ;
  border-width:  ;
  center-x:  ;
  center-y:  ;
  clips:  ;
  content-mode:  ;
  corner-radius:  ;
  current-page-indicator-tint-color:  ;
  enabled:  ;
  height:  ;
  hidden:  ;
  hide-single-page:  ;
  opaque:  ;
  page:  ;
  shadow-color:  ;
  shadow-offset:  ;
  shadow-opacity:  ;
  shadow-radius:  ;
  tint-color:  ;
  width:  ;
  x:  ;
  y:  ;
}

UIImageView {
  alpha:  ;
  background-color:  ;
  border-color:  ;
  border-width:  ;
  center-x:  ;
  center-y:  ;
  clips:  ;
  content-mode:  ;
  corner-radius:  ;
  enabled:  ;
  height:  ;
  hidden:  ;
  highlighted:  ;
  highlighted-image:  ;
  image:  ;
  opaque:  ;
  shadow-color:  ;
  shadow-offset:  ;
  shadow-opacity:  ;
  shadow-radius:  ;
  tint-color:  ;
  width:  ;
  x:  ;
  y:  ;
}

UIScrollView {
  alpha:  ;
  background-color:  ;
  border-color:  ;
  border-width:  ;
  center-x:  ;
  center-y:  ;
  clips:  ;
  content-mode:  ;
  corner-radius:  ;
  enabled:  ;
  height:  ;
  hidden:  ;
  indicator-style:  ;
  opaque:  ;
  shadow-color:  ;
  shadow-offset:  ;
  shadow-opacity:  ;
  shadow-radius:  ;
  tint-color:  ;
  width:  ;
  x:  ;
  y:  ;
}

UITextView {
  alpha:  ;
  background-color:  ;
  border-color:  ;
  border-width:  ;
  center-x:  ;
  center-y:  ;
  clips:  ;
  content-inset:  ;
  content-mode:  ;
  corner-radius:  ;
  enabled:  ;
  font:  ;
  height:  ;
  hidden:  ;
  indicator-style:  ;
  opaque:  ;
  shadow-color:  ;
  shadow-offset:  ;
  shadow-opacity:  ;
  shadow-radius:  ;
  text-align:  ;
  text-color:  ;
  tint-color:  ;
  width:  ;
  x:  ;
  y:  ;
}

UITableViewCell {
  alpha:  ;
  background-color:  ;
  background-color-selected:  ;
  background-color-selected-top:  ;
  background-color-top:  ;
  border-color:  ;
  border-width:  ;
  center-x:  ;
  center-y:  ;
  clips:  ;
  content-mode:  ;
  corner-radius:  ;
  enabled:  ;
  height:  ;
  hidden:  ;
  opaque:  ;
  selected-style:  ;
  shadow-color:  ;
  shadow-offset:  ;
  shadow-opacity:  ;
  shadow-radius:  ;
  tint-color:  ;
  width:  ;
  x:  ;
  y:  ;
}

